.header__logo {
   background-image: url(../../../images/logo.svg);
   height: 33px;
   width: 142px;
   background-size: cover;
}

@media screen and (max-width: 767px) {
   .header__logo {
      height: 24px;
      width: 104px;
      margin-left: 27px;
   }
}