.popup__container {
   width: 430px;
   min-height: 330px;
   background-color: white;
   border-radius: 10px;
   justify-self: center;
   align-self: center;
   margin: 0 auto;
   position: relative;
}

@media screen and (max-width: 767px) {
   .popup__container {
      width: 282px;
      min-height: 322px;
   }
}