.popup__input-error{
    margin: 0 0 13px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FF0000;
    display: block;
    min-height: 30px;
}

.popup__input-error:last-of-type{
    margin-bottom: 0;
}